USE [GestaoEmpresa]
GO
/****** Object:  Table [dbo].[INTERACOES]    Script Date: 05/07/2019 16:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERACOES](
	[CODIGO] [int] NOT NULL,
	[HORARIO] [datetime2](7) NOT NULL,
	[TIPO] [int] NOT NULL,
	[CODIGO_PRODUTO] [int] NOT NULL,
	[QUANTIDADE] [int] NOT NULL,
	[VALOR] [decimal](18, 2) NOT NULL,
	[ATUALIZARVALORNOCATALOGO] [nvarchar](1) NOT NULL,
	[ORIGEM] [nvarchar](100) NULL,
	[DESTINO] [nvarchar](100) NULL,
	[OBSERVACOES] [nvarchar](3000) NULL,
	[NUMERODANOTAFISCAL] [nvarchar](10) NULL,
	[INFORMA_NUMERO_DE_SERIE] [nvarchar](1) NOT NULL,
	[QUANTIDADE_AUX] [int] NULL,
	[HORARIO_PROGRAMADO] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUMEROS_DE_SERIE]    Script Date: 05/07/2019 16:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUMEROS_DE_SERIE](
	[NUMERO] [nvarchar](30) NOT NULL,
	[CODIGO_PRODUTO] [int] NOT NULL,
	[CODIGO_INTERACAO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 05/07/2019 16:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[CODIGO] [int] NOT NULL,
	[VIGENCIA] [datetime2](7) NOT NULL,
	[STATUS] [int] NOT NULL,
	[NOME] [nvarchar](50) NOT NULL,
	[FABRICANTE] [nvarchar](50) NULL,
	[CODIGOFABRICANTE] [nvarchar](50) NULL,
	[PRECOCOMPRA] [decimal](18, 2) NULL,
	[PRECOVENDA] [decimal](18, 2) NULL,
	[PORCENTAGEMLUCRO] [float] NULL,
	[AVISARQUANTIDADE] [nvarchar](1) NOT NULL,
	[QUANTIDADEMINIMAAVISO] [int] NULL,
	[OBSERVACAO] [nvarchar](3000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS_QUANTIDADES]    Script Date: 05/07/2019 16:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS_QUANTIDADES](
	[CODIGO_PRODUTO] [int] NOT NULL,
	[QUANTIDADE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 05/07/2019 16:06:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[CODIGO] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[NOME] [nvarchar](30) NOT NULL,
	[SENHA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[INTERACOES] ([CODIGO], [HORARIO], [TIPO], [CODIGO_PRODUTO], [QUANTIDADE], [VALOR], [ATUALIZARVALORNOCATALOGO], [ORIGEM], [DESTINO], [OBSERVACOES], [NUMERODANOTAFISCAL], [INFORMA_NUMERO_DE_SERIE], [QUANTIDADE_AUX], [HORARIO_PROGRAMADO]) VALUES (1, CAST(N'2018-06-14T20:11:18.0000000' AS DateTime2), 1, 158, 2, CAST(0.00 AS Decimal(18, 2)), N'N', N'De dentro da central', N'Almoxarifado', N'', N'', N'N', NULL, CAST(N'2018-06-14T20:11:18.0000000' AS DateTime2))
INSERT [dbo].[INTERACOES] ([CODIGO], [HORARIO], [TIPO], [CODIGO_PRODUTO], [QUANTIDADE], [VALOR], [ATUALIZARVALORNOCATALOGO], [ORIGEM], [DESTINO], [OBSERVACOES], [NUMERODANOTAFISCAL], [INFORMA_NUMERO_DE_SERIE], [QUANTIDADE_AUX], [HORARIO_PROGRAMADO]) VALUES (2, CAST(N'2018-06-15T07:54:40.0000000' AS DateTime2), 1, 160, 2, CAST(0.00 AS Decimal(18, 2)), N'S', N'De dentro das Centrais', N'Almoxarifado', N'', N'', N'N', NULL, CAST(N'2018-06-15T07:54:40.0000000' AS DateTime2))
INSERT [dbo].[INTERACOES] ([CODIGO], [HORARIO], [TIPO], [CODIGO_PRODUTO], [QUANTIDADE], [VALOR], [ATUALIZARVALORNOCATALOGO], [ORIGEM], [DESTINO], [OBSERVACOES], [NUMERODANOTAFISCAL], [INFORMA_NUMERO_DE_SERIE], [QUANTIDADE_AUX], [HORARIO_PROGRAMADO]) VALUES (3, CAST(N'2018-06-15T07:55:06.0000000' AS DateTime2), 1, 161, 3, CAST(0.00 AS Decimal(18, 2)), N'S', N'De dentro das Centrais', N'Almoxarifado', N'', N'', N'N', NULL, CAST(N'2018-06-15T07:55:06.0000000' AS DateTime2))
GO
INSERT [dbo].[NUMEROS_DE_SERIE] ([NUMERO], [CODIGO_PRODUTO], [CODIGO_INTERACAO]) VALUES (N'1599700365547', 302, 166)
INSERT [dbo].[NUMEROS_DE_SERIE] ([NUMERO], [CODIGO_PRODUTO], [CODIGO_INTERACAO]) VALUES (N'16070297', 290, 299)
INSERT [dbo].[NUMEROS_DE_SERIE] ([NUMERO], [CODIGO_PRODUTO], [CODIGO_INTERACAO]) VALUES (N'16070298', 290, 70)
GO
INSERT [dbo].[PRODUTOS] ([CODIGO], [VIGENCIA], [STATUS], [NOME], [FABRICANTE], [CODIGOFABRICANTE], [PRECOCOMPRA], [PRECOVENDA], [PORCENTAGEMLUCRO], [AVISARQUANTIDADE], [QUANTIDADEMINIMAAVISO], [OBSERVACAO]) VALUES (311, CAST(N'2018-08-16T17:26:13.0000000' AS DateTime2), 1, N'Keystone Jack RJ 45 Cat 5e', N'', N'', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0.4, N'S', 50, N'')
INSERT [dbo].[PRODUTOS] ([CODIGO], [VIGENCIA], [STATUS], [NOME], [FABRICANTE], [CODIGOFABRICANTE], [PRECOCOMPRA], [PRECOVENDA], [PORCENTAGEMLUCRO], [AVISARQUANTIDADE], [QUANTIDADEMINIMAAVISO], [OBSERVACAO]) VALUES (448, CAST(N'2018-09-24T08:26:09.0000000' AS DateTime2), 1, N'Bauleto 33 Litros para Moto', N'Melc', N'', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0.4, N'S', 0, N'')
INSERT [dbo].[PRODUTOS] ([CODIGO], [VIGENCIA], [STATUS], [NOME], [FABRICANTE], [CODIGOFABRICANTE], [PRECOCOMPRA], [PRECOVENDA], [PORCENTAGEMLUCRO], [AVISARQUANTIDADE], [QUANTIDADEMINIMAAVISO], [OBSERVACAO]) VALUES (1, CAST(N'2018-09-14T12:39:20.0000000' AS DateTime2), 1, N'Central Impacta 16', N'Intelbras', N'4320010', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0.4, N'S', 1, N'')
GO
INSERT [dbo].[PRODUTOS_QUANTIDADES] ([CODIGO_PRODUTO], [QUANTIDADE]) VALUES (1, 0)
INSERT [dbo].[PRODUTOS_QUANTIDADES] ([CODIGO_PRODUTO], [QUANTIDADE]) VALUES (2, 1)
INSERT [dbo].[PRODUTOS_QUANTIDADES] ([CODIGO_PRODUTO], [QUANTIDADE]) VALUES (3, 6)
GO
INSERT [dbo].[USUARIOS] ([CODIGO], [STATUS], [NOME], [SENHA]) VALUES (1, 1, N'admin', 1156371652)
INSERT [dbo].[USUARIOS] ([CODIGO], [STATUS], [NOME], [SENHA]) VALUES (2, 1, N'junio.moraes', 1916587334)
INSERT [dbo].[USUARIOS] ([CODIGO], [STATUS], [NOME], [SENHA]) VALUES (3, 1, N'joao.venancio', -198754978)
/****** Object:  Index [PK_CODIGO]    Script Date: 05/07/2019 16:06:01 ******/
ALTER TABLE [dbo].[INTERACOES] ADD  CONSTRAINT [PK_CODIGO] PRIMARY KEY NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_NUMERO_INTERACAO]    Script Date: 05/07/2019 16:06:02 ******/
ALTER TABLE [dbo].[NUMEROS_DE_SERIE] ADD  CONSTRAINT [PK_NUMERO_INTERACAO] PRIMARY KEY NONCLUSTERED 
(
	[NUMERO] ASC,
	[CODIGO_PRODUTO] ASC,
	[CODIGO_INTERACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CODIGO_VIGENCIA]    Script Date: 05/07/2019 16:06:02 ******/
ALTER TABLE [dbo].[PRODUTOS] ADD  CONSTRAINT [PK_CODIGO_VIGENCIA] PRIMARY KEY NONCLUSTERED 
(
	[CODIGO] ASC,
	[VIGENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INTERACOES] ADD  DEFAULT ('N') FOR [INFORMA_NUMERO_DE_SERIE]
GO
ALTER TABLE [dbo].[INTERACOES] ADD  DEFAULT (CONVERT([datetime2],'2018-06-14 20:11:18.0000000')) FOR [HORARIO_PROGRAMADO]
GO
ALTER TABLE [dbo].[NUMEROS_DE_SERIE]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_INTERACAO] FOREIGN KEY([CODIGO_INTERACAO])
REFERENCES [dbo].[INTERACOES] ([CODIGO])
GO
ALTER TABLE [dbo].[NUMEROS_DE_SERIE] CHECK CONSTRAINT [FK_CODIGO_INTERACAO]
GO
